// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  display: block;
  font-family: $font;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 0.012em;
  margin: 0 0 30px;
  color: $white;
}

h1,
.h1 {
  font-size: $h1-font-size;

  @include m(desktop) {
    font-size: $h1-font-size-lg;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;

  @include m(desktop) {
    font-size: $h2-font-size-lg;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;

  @include m(desktop) {
    font-size: $h3-font-size-lg;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;

  @include m(desktop) {
    font-size: $h4-font-size-lg;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  text-transform: uppercase;

  @include m(desktop) {
    font-size: $h5-font-size-lg;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;

  @include m(desktop) {
    font-size: $h6-font-size-lg;
  }
}

p {
  margin: 0 0 1.25em;
}

a {
  @include animate(opacity);
  color: $base-link-color;
  text-decoration: none;
  outline: none;

  @media (hover: hover) {
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.7;
    }
  }

  &.primary {
    color: $accent;
  }
}
