$white: #ffffff;
$black: #001529;
$dark-gray: #111;
$dark-gray-lighter: #1a1a1a;
$gray: #383838;
$green: #1f0;
$gray-primary: #373737;
$green-primary: #11ff00;
$alert: #e33939;

$primary-color: $green;
$accent: $primary-color;
$bg-color: $black;
$text-color: $white;

$font-size-base: 13px;
$font-size-sm: 12px;
$font-size-lg: 15px;
$font-size-btn: 20px;
$font-size-btn-sm: 15px;
$line-height-base: 1.467;
$font: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

$base-link-color: $white;

$h1-font-size: 30px;
$h1-font-size-lg: 36px;
$h2-font-size: 26px;
$h2-font-size-lg: 36px;
$h3-font-size: 20px;
$h3-font-size-lg: 24px;
$h4-font-size: 18px;
$h4-font-size-lg: 20px;
$h5-font-size: 16px;
$h5-font-size-lg: 16px;
$h6-font-size: 14px;
$h6-font-size-lg: 14px;

$spacer: 1rem;
$base-min-width: 320px;
$input-border-width: 2px;

$scroll_track: transparent;
$scroll_thumb: $accent;

$container-width: 1760px;
